<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>BankProjecr</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddCustomerServlet</display-name>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>demo.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateServlet</display-name>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>demo.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/CreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomerServlet</display-name>
    <servlet-name>EditCustomerServlet</servlet-name>
    <servlet-class>demo.EditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerServlet</servlet-name>
    <url-pattern>/EditCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>demo.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>demo.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LastLoggedInServlet</display-name>
    <servlet-name>LastLoggedInServlet</servlet-name>
    <servlet-class>demo.LastLoggedInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastLoggedInServlet</servlet-name>
    <url-pattern>/LastLoggedInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InternalBankServlet</display-name>
    <servlet-name>InternalBankServlet</servlet-name>
    <servlet-class>demo.InternalBankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InternalBankServlet</servlet-name>
    <url-pattern>/InternalBankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNomineeServlet</display-name>
    <servlet-name>AddNomineeServlet</servlet-name>
    <servlet-class>demo.AddNomineeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNomineeServlet</servlet-name>
    <url-pattern>/AddNomineeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditNomineeServlet</display-name>
    <servlet-name>EditNomineeServlet</servlet-name>
    <servlet-class>demo.EditNomineeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNomineeServlet</servlet-name>
    <url-pattern>/EditNomineeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNomineeServlet</display-name>
    <servlet-name>DeleteNomineeServlet</servlet-name>
    <servlet-class>demo.DeleteNomineeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNomineeServlet</servlet-name>
    <url-pattern>/DeleteNomineeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCardServlet</display-name>
    <servlet-name>AddCardServlet</servlet-name>
    <servlet-class>demo.AddCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCardServlet</servlet-name>
    <url-pattern>/AddCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotlistCardServlet</display-name>
    <servlet-name>HotlistCardServlet</servlet-name>
    <servlet-class>demo.HotlistCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotlistCardServlet</servlet-name>
    <url-pattern>/HotlistCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCustomerServlet</display-name>
    <servlet-name>ListCustomerServlet</servlet-name>
    <servlet-class>demo.ListCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCustomerServlet</servlet-name>
    <url-pattern>/ListCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateInterestServlet</display-name>
    <servlet-name>CalculateInterestServlet</servlet-name>
    <servlet-class>demo.CalculateInterestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateInterestServlet</servlet-name>
    <url-pattern>/CalculateInterestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtherDescriptionServlet</display-name>
    <servlet-name>OtherDescriptionServlet</servlet-name>
    <servlet-class>demo.OtherDescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherDescriptionServlet</servlet-name>
    <url-pattern>/OtherDescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PDFGenerationServlet</display-name>
    <servlet-name>PDFGenerationServlet</servlet-name>
    <servlet-class>demo.PDFGenerationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFGenerationServlet</servlet-name>
    <url-pattern>/PDFGenerationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailGenerationServlet</display-name>
    <servlet-name>EmailGenerationServlet</servlet-name>
    <servlet-class>demo.EmailGenerationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailGenerationServlet</servlet-name>
    <url-pattern>/EmailGenerationServlet</url-pattern>
  </servlet-mapping>
</web-app>